---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Vincent Leclerc">
  <main
    class="bg-gray-100 text-black font-semibold text-4xl text-center w-[1440px] p-4"
  >
    <h1>WIP...</h1>
  </main>
</Layout>
