---
import "@fontsource/roboto";
import "@fontsource/roboto-condensed";

import { Footer } from "@/components/Footer";
import { Header } from "@/components/Header";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <script
      src="https://www.google.com/recaptcha/enterprise.js?render=6LcVuzIpAAAAAIrxu9ZC2IbnESbW_DOM3Oa4pDlO"
    ></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZT6DE0LXGD"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-ZT6DE0LXGD");
    </script>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Vincent Leclerc, Développeur Web Full Stack"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="p:domain_verify" content="0287efe51f635f5204b841c8b6ca45d5" />
  </head>
  <body class="h-full w-full [font-family:'Roboto',Helvetica]">
    <div class="flex h-full w-full flex-col">
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer components {
    .all-\[unset\] {
      all: unset;
    }
  }

  :root {
    --black: rgba(0, 0, 0, 1);
    /*--blue: rgba(60, 132, 251, 1);*/
    --darkgray: rgba(34, 34, 34, 1);
    --softgray: rgba(216, 221, 227, 1);
    --variable-collection-white: rgba(255, 255, 255, 1);
    --white: rgba(255, 255, 255, 1);
  }

  html {
    background-color: #111111;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
  }

  /* Change Autocomplete styles in Chrome*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #222222;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #222222 inset;
    box-shadow: 0 0 0px 1000px #222222 inset;
    transition: background-color 5000s ease-in-out 0s;
    color: white;
  }

  textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 6px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 6px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(0deg, #2a1683 0%, #5c0099 100%);
  }

  .grecaptcha-badge {
    visibility: hidden;
  }
</style>
