---
import "@fontsource/roboto";
import "@fontsource/roboto-condensed";
import { Footer } from "@/components/Footer";
import { Header } from "@/components/Header";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZT6DE0LXGD"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-ZT6DE0LXGD");
    </script>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo-48-48-holo-black.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="p:domain_verify" content="0287efe51f635f5204b841c8b6ca45d5" />
  </head>
  <body class="h-full w-full [font-family:'Roboto',Helvetica]">
    <div class="h-full w-full flex flex-col z-20">
      <Header />
      <slot />
      <Footer />
    </div>
    <script src="//code.tidio.co/cxlqzkfrmpvrnytphek5nlbovkmqbhpa.js" async
    ></script>
  </body>
</html>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer components {
    .all-\[unset\] {
      all: unset;
    }
  }

  :root {
    --black: rgba(0, 0, 0, 1);
    /*--blue: rgba(60, 132, 251, 1);*/
    --darkgray: rgba(34, 34, 34, 1);
    --softgray: rgba(216, 221, 227, 1);
    --variable-collection-white: rgba(255, 255, 255, 1);
    --white: rgba(255, 255, 255, 1);
  }

  html {
    background-color: #111111;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
  }
</style>
